@import url("./global.css");

.container {
  position: relative;

  display: flex;

  width: 1240px;
  margin: 0 auto;
}

.container .navigation {
  border-right: 1px solid var(--default-gray);
}

.navigation {
  position: fixed;

  height: 100%;

  font-size: 20px;

  .nav-logo {
    filter: invert(1);
    width: 25px;
    height: 25px;
    margin: 12px 12px;
  }

  .nav-ul {
    width: 260px;

    li {
      padding-right: 20px;

      &#here {
        font-weight: bold;
      }

      & > a {
        position: relative;

        display: flex;
        align-items: center;
        padding: 12px;

        width: fit-content;
        border-radius: 30px;

        img {
          filter: invert(1);
          width: 26px;
          height: 26px;
          margin-right: 20px;
        }

        .dot {
          position: absolute;
          top: 10px;
          left: 35px;

          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: var(--default-blue);
        }
      }

      /* change background-color on navigation a tag */
      &:hover {
        & > a {
          background-color: #1b1b1b;
        }
      }
    }
  }
}

.main-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  margin-left: 261px;

  .header {
    position: sticky;
    top: 0;

    display: grid;
    grid-template-columns: 3.2fr 2fr;

    background-color: var(--default-black);

    .header-ul {
      display: grid;
      grid-template-columns: 1fr 1fr;

      border-bottom: 1px solid var(--default-gray);
      border-right: 1px solid var(--default-gray);

      li {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          padding: 15px 0;

          font-weight: bold;
          color: #6f767b;
        }

        &#header-here {
          a {
            border-bottom: 3px solid var(--default-blue);

            color: var(--default-white);
          }
        }
      }
    }

    form {
      width: calc(100% - 60px);
      height: calc(100% - 10px);
      margin: 5px 30px;

      input[type="text"] {
        width: 100%;
        height: 100%;
        background-color: var(--default-gray);
        padding: 0 20px;
        border-radius: 50px;
      }
    }
  }
}

/* only move content to y scroll */
.content-container {
  overflow-y: scroll;

  display: grid;
  grid-template-columns: 3.2fr 2fr;

  .content-wrapper {
    border-right: 1px solid var(--default-gray);

    .twitter-content {
      display: grid;
      grid-template-columns: 50px 1fr;

      padding: 16px;
      border-bottom: 1px solid var(--default-gray);

      &:last-child {
        border-bottom: none;
      }

      .tweet-logo {
        width: 40px;
        height: 40px;
        border-radius: 5px;
      }

      .title {
        margin-bottom: 5px;

        font-weight: bold;

        span {
          margin-left: 5px;

          font-weight: normal;
          color: var(--light-gray);
        }
      }

      .content {
        img {
          width: 100%;
          margin-top: 10px;
          border-radius: 10px;
        }
      }
    }
  }

  .side-content-wrapper {
    margin: 12px 30px;
  }
}

.grid-example {
  display: grid;
  border: 1px solid var(--default-white);
  padding: 10px;

  /* grid content example -> use grid-template-areas */
  &#grid1 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "header header header header"
      "main main main aside"
      "main main main ."
      "footer footer footer footer";
    gap: 10px;
  }

  .grid-header {
    background-color: teal;
    grid-area: header;
  }
  .grid-main {
    background-color: orange;
    grid-area: main;
  }
  .grid-aside {
    background-color: thistle;
    grid-area: aside;
  }
  .grid-footer {
    background-color: gray;
    grid-area: footer;
  }
}

.white-space {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  width: 519px;
  margin-top: 20px;
}

.side-content-wrapper {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .side-content {
    padding: 12px 16px;
    border: 1px solid var(--default-gray);
    border-radius: 16px;

    h3 {
      font-size: 22px;
    }

    .side-info {
      margin-top: 10px;

      .side-title {
        display: flex;

        .tweet-logo {
          width: 16px;
          height: 16px;
          border-radius: 50%;
        }

        .happen-logo {
          width: 79px;
          height: 79px;
          border-radius: 10px;
          object-fit: cover;
        }

        .happen-title {
          margin-left: 10px;

          font-size: 15px;

          span {
            display: block;

            margin-top: 10px;
          }
        }

        .title {
          display: flex;
          align-items: center;

          margin-left: 5px;

          span {
            margin-left: 5px;
          }
        }

        span {
          font-size: 13px;
          font-weight: normal;
          color: var(--light-gray);
        }
      }

      .trend {
        flex-direction: column;
        gap: 20px;

        margin-top: 20px;
      }

      .side-talk {
        margin-top: 10px;
      }
    }

    button {
      margin-top: 10px;
      padding: 8px 15px;
      background-color: var(--default-blue);
      border-radius: 50px;

      font-size: 15px;
      font-weight: bold;
    }
  }
}

footer {
  border-top: 1px solid var(--default-gray);
}

.message-container {
  position: fixed;
  bottom: -300px;
  right: 25px;

  transition: all 300ms ease 0s;

  min-width: 350px;
  background-color: var(--default-black);
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px,
    rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;

  &.message-box-on {
    bottom: 0;

    .message-img.arrow {
      rotate: 0deg !important;
    }
  }

  .message-header {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 53px;
    padding: 0 16px;

    .message-img {
      filter: invert(1);
      width: 20px;
      height: 20px;

      & + & {
        margin-left: 10px;
      }
    }

    .message-img.arrow {
      rotate: 180deg;
    }
  }

  .message-body {
    min-height: 300px;
    padding: 16px;

    .message-content {
      display: grid;
      grid-template-columns: 50px 1fr;

      border-bottom: 1px solid var(--default-gray);

      &:last-child {
        border-bottom: none;
      }

      .tweet-logo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      .title {
        margin-bottom: 2px;

        font-weight: bold;

        span {
          margin-left: 5px;

          font-weight: normal;
          color: var(--light-gray);
        }
      }

      .content {
        color: var(--light-gray);

        img {
          width: 100%;
          margin-top: 10px;
          border-radius: 10px;
        }
      }

      & + & {
        margin-top: 20px;
      }
    }
  }
}
