* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
blockquote,
button {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

input {
  border: none;

  color: #fff;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;

  color: #fff;
}

body {
  background-color: #000;

  color: #fff;
}

:root {
  --default-white: #fff;
  --default-blue: #1b9bee;
  --default-gray: #252a2b;
  --light-gray: #575c5f;
}
