@media screen and (max-width: 1246px) {
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    picture {
      margin-right: 20px;
    }

    .navUl {
      align-items: flex-end;

      width: calc(100vw - 79vw);

      li {
        a {
          img {
            margin-right: 0;
          }

          span {
            display: none;
          }
        }
      }
    }
  }

  .mainContainer {
    margin-left: 21.1vw;
  }
}

@media screen and (max-width: 1162px) {
  .mainContainer {
    .header {
      .headerUl {
        min-width: 516px;
      }

      form {
        display: none;
      }
    }

    .contentContainer {
      .sideContentWrapper {
        display: none;
      }
    }
  }

  .galleryContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
